.carousel {
    width:    100%;
    background: #F2F3F4;
}


.carousel_small {
    position: relative;
}
.carousel_small .carousel_buttons {
    position: absolute;
    top: 170px;
    left:  0px;
}
.carousel_small ul {
    list-style: none;
    margin:  0;
    padding: 0;
    height: 100%;
    display: flex;
    transition: transform .3s;
}

.carousel_medium {
    position: relative;
}

.carousel_medium .carousel_buttons {
    position: absolute;
    top:  0px;
    left: 190px;
}

.carousel_medium li {
    width: 250px;
}

.carousel_small_img_container {
    height: 200px;
}
.carousel_small_img_container img {
    width:      240px;
    height:     100%;
    object-fit: cover;
}
.carousel_small .note {
    color: #777;
}

.carousel_medium {
    width:   100%;
    display: grid;
    gap:     14px;
    grid-template-columns:245px 1fr;
}

.carousel_medium_caption {
    background-image:url(../../img/sample_image_large.png);
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:flex-end;
    text-align:center;
    margin-left: 5px;
}

.carousel_medium_caption_text {
    width:100%;
    text-align:center;
    vertical-align: bottom;
}

.carousel_medium_caption_text h2 {
    border:         none;
    font-size:      20px;
    font-weight:    normal;
}

.carousel_medium ul {
    list-style: none;
    margin:  0;
    padding: 0;
    height: 100%;
    display: flex;
    transition: transform .3s;
}

.carousel_medium li {
    width: 250px;
}
.carousel_medium_img_container {
    height: 200px;
    position:relative;
}
.carousel_medium_img_container img {
    width:      240px;
    height:     100%;
    object-fit: cover;
}
.carousel_medium .note {
    color: #777;
}









.carousel_page_no {
    writing-mode : vertical-lr;
}

.carousel div {
  width:  80%;
  margin: 16px auto;
  height: 220px;
  overflow: hidden;
}

.carousel ul {
    list-style: none;
    margin:  0;
    padding: 0;
    height: 100%;
    display: flex;
    transition: transform .3s;
}

.carousel li {
    height: 100%;
    min-width: 100%;
}

.carousel li img {
    width:  100%;
    height: 100%;
    object-fit: cover;
}

.carousel_middle {
    height: 250px;
}
.carousel_middle img {
    width: 100%;
    object-fit: none;
}
.carousel_prev, .carousel_next {
    border: none;
    background: #fff;
    font-size: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    
}

.carousel_prev:hover, .carousel_next:hover {
    opacity: .8;
}

.hidden {
    display: none;
}
